<div id="app-slider">
    <div id="slider">
        <ngb-carousel
        [showNavigationArrows]="false" 
        [showNavigationIndicators]="true"
        interval="5000"
        [keyboard]="true"
        [pauseOnHover]="true"
        [wrap]="true"
        [activeId]="'slide1'"
        >
            <ng-template ngbSlide id="slide{{i}}"  *ngFor="let image of images; let i = index">
                <div class="picsum-img-wrapper">
                    <img [src]="images[i][0]" alt="{{images[i][1]}}" class="slide">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div id="start">
        <app-login></app-login>
    </div>
</div>