<div id="tech" name="tech">
    <h2>Nasze technologie</h2>
    <div class="tech-box">
        <div class="img"><img src="/assets/wp.png" alt="Webpack"/></div>
        <div class="hr"><hr /></div>
        <div class="desc">Webpack</div>
    </div>
    <div class="tech-box">
        <div class="img"><img src="/assets/js.png" alt="Java Script"/></div>
        <div class="hr"><hr /></div>
        <div class="desc">Java Script</div>
    </div>
    <div class="tech-box">
        <div class="img"><img src="/assets/npm.png" alt="NPM" class="npm" /></div>
        <div class="hr"><hr /></div>
        <div class="desc">Node Package<br />Manager</div>
    </div>
    <div class="tech-box">
        <div class="img"><img src="/assets/html.png" alt="HTML5"/></div>
        <div class="hr"><hr /></div>
        <div class="desc">HTML</div>
    </div>
</div>